GROQ_API_KEY=
AVIATION_API_KEY=
DEFAULT_ORIGIN_IATA="IND"
TAVILY_API_KEY=
EXA_API_KEY=
DATABASE_URL=your postgres database url
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="Triply-AI"